.story {
	max-width: 1200px;
	/*	background: red;*/
	margin: 50px auto 0px auto;
}

.column {
	max-width: 600px;
	/*	background: green;*/
	margin: 0 auto 20px auto;
}

h1 {
	font-size: 30px;
	line-height: 1.1;
	font-family: 'Roboto Mono', monospace;
}

.bio {
	margin-top: 25px;
	margin-bottom: 15px;
}


.links {
	font-size: 19px;
	line-height: 1.25;
	/* font-family: 'Fragment Mono', monospace; */
	font-family: 'Roboto Mono', monospace;
	color: #676a47;
	text: is-underlined;
}

a {
	color: #676a47;
}

a:hover {
	color: #adc1a5;
	/* Change link color on hover */
}

hr {
	border-style: dotted;

}

.contact {
	font-size: 16px;
	line-height: 1.25;
	font-family: 'Roboto Mono', monospace;
	color: #676a47;
	text: is-underlined;
}


.byline {
	text-align: center;
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	text-transform: uppercase;
}

.date {
	font-weight: normal;
	padding-left: 20px;
}

.description {
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
}


p {
	font-size: 16px;
	line-height: 1.25;
	font-family: 'Roboto Mono', monospace;
}

h3 {
	font-size: 24px;
	font-family: 'Roboto Mono', monospace;
}

.source {
	font-size: 14px;
	opacity: .6;
}

.card {
	margin-bottom: 20px;
}

.last {
	margin-bottom: 100px;
}

.column.graphic {
	margin-bottom: 40px;
	margin-top: 40px;
}

.graphictitle {
	font-size: 22px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;	
}

.label1 {
	background-color: #99cc99;
	/* opacity: .8; */
}


.label2 {
	background-color: #ffcc66;
	/* opacity: .8; */
}

.label3 {
	background-color: #fc8e62;
	/* opacity: .8; */
}


/* Apply different styles for different screen widths */
@media screen and (min-width: 300px) {
    /* For screens wider than 768px, set a fixed width of 300px */
    .responsive-image {
        width: 300px;
        height: auto; /* Maintain the aspect ratio */
    }
}

@media screen and (min-width: 1200px) {
    /* For screens wider than 1200px, set a fixed width of 500px */
    .responsive-image {
        width: 400px;
        height: auto; /* Maintain the aspect ratio */
    }
}

/* AI STUFF */
/* 
<!-- Generated by ai2html v0.115.5 - 2023-09-12 14:40 -->
<!-- ai file: locator_map.ai --> */


/* These are the styles for ai2html */
#g-locator_map-Artboard_1,
#g-locator_map-Artboard_2 {
	display: none;
}

@media (max-width: 1050px) {
	#g-locator_map-Artboard_2 {
		display: block;
	}
}

@media (min-width: 1050px) {
	#g-locator_map-Artboard_1 {
		display: block;
	}
}


#g-locator_map-box .g-artboard {
	margin: 0 auto;
}

#g-locator_map-box p {
	margin: 0;
}

#g-locator_map-box .g-aiAbs {
	position: absolute;
}

#g-locator_map-box .g-aiImg {
	position: absolute;
	top: 0;
	display: block;
	width: 100% !important;
}

#g-locator_map-box .g-aiSymbol {
	position: absolute;
	box-sizing: border-box;
}

#g-locator_map-box .g-aiPointText p {
	white-space: nowrap;
}

#g-locator_map-Artboard_1 {
	position: relative;
	overflow: hidden;
}

#g-locator_map-Artboard_1 p {
	font-family: arial, helvetica, sans-serif;
	line-height: 18px;
	opacity: 1;
	letter-spacing: 0em;
	font-size: 15px;
	text-align: left;
	color: rgb(0, 0, 0);
	text-transform: none;
	padding-bottom: 0;
	padding-top: 0;
	mix-blend-mode: normal;
	font-style: normal;
	height: auto;
	position: static;
}

#g-locator_map-Artboard_1 .g-pstyle0 {
	line-height: 14px;
	height: 14px;
	font-size: 12px;
	text-align: center;
	color: rgb(102, 102, 102);
}

#g-locator_map-Artboard_1 .g-cstyle0 {
	font-weight: bold;
}

#g-locator_map-Artboard_2 {
	position: relative;
	overflow: hidden;
}

#g-locator_map-Artboard_2 p {
	font-family: arial, helvetica, sans-serif;
	line-height: 14px;
	opacity: 1;
	letter-spacing: 0em;
	font-size: 12px;
	text-align: left;
	color: rgb(0, 0, 0);
	text-transform: none;
	padding-bottom: 0;
	padding-top: 0;
	mix-blend-mode: normal;
	font-style: normal;
	height: auto;
	position: static;
}

#g-locator_map-Artboard_2 .g-pstyle0 {
	height: 14px;
	text-align: center;
	color: rgb(102, 102, 102);
}

#g-locator_map-Artboard_2 .g-pstyle1 {
	line-height: 12px;
	height: 12px;
	font-size: 10px;
	text-align: center;
	color: rgb(102, 102, 102);
}

#g-locator_map-Artboard_2 .g-cstyle0 {
	font-weight: bold;
}



/* NEXT ONE */


/* These are the styles for ai2html */
#g-remittances-Artboard_2,
#g-remittances-Artboard_1 {
	display: none;
}

@media (max-width: 1050px) {
	#g-remittances-Artboard_2 {
		display: block;
	}
}

@media (min-width: 1050px) {
	#g-remittances-Artboard_1 {
		display: block;
	}
}

#g-remittances-box ,
	#g-remittances-box .g-artboard {
		margin:0 auto;
	}
	#g-remittances-box p {
		margin:0;
	}
	#g-remittances-box .g-aiAbs {
		position:absolute;
	}
	#g-remittances-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-remittances-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-remittances-box .g-aiPointText p { white-space: nowrap; }
	#g-remittances-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-remittances-Artboard_1 p {
		font-family:arial,helvetica,sans-serif;
		font-weight:bold;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-remittances-Artboard_1 .g-pstyle0 {
		height:17px;
	}
	#g-remittances-Artboard_1 .g-pstyle1 {
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:12px;
	}
	#g-remittances-Artboard_1 .g-pstyle2 {
		line-height:14px;
		height:14px;
		font-size:12px;
	}
	#g-remittances-Artboard_2 {
		position:relative;
		overflow:hidden;
	}
	#g-remittances-Artboard_2 p {
		font-family:arial,helvetica,sans-serif;
		font-weight:bold;
		line-height:17px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:14px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-remittances-Artboard_2 .g-pstyle0 {
		height:17px;
	}
	#g-remittances-Artboard_2 .g-pstyle1 {
		font-weight:500;
		line-height:14px;
		height:14px;
		font-size:12px;
	}
	#g-remittances-Artboard_2 .g-pstyle2 {
		line-height:14px;
		height:14px;
		font-size:12px;
	}


/* MAP */


#g-mapedits-Artboard_1,
#g-mapedits-Artboard_2 {
	display: none;
}

@media (max-width: 1050px) {
	#g-mapedits-Artboard_2 {
		display: block;
	}
}

@media (min-width: 1050px) {
	#g-mapedits-Artboard_1 {
		display: block;
	}
}
<!-- Generated by ai2html v0.115.5 - 2023-09-28 03:48 -->
<!-- ai file: mapedits.ai -->

	#g-mapedits-box ,
	#g-mapedits-box .g-artboard {
		margin:0 auto;
	}
	#g-mapedits-box p {
		margin:0;
	}
	#g-mapedits-box .g-aiAbs {
		position:absolute;
	}
	#g-mapedits-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-mapedits-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-mapedits-box .g-aiPointText p { white-space: nowrap; }
	#g-mapedits-Artboard_1 {
		position:relative;
		overflow:hidden;
	}
	#g-mapedits-Artboard_1 p {
		font-family:arial,helvetica,sans-serif;
		line-height:14px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:12px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-mapedits-Artboard_1 .g-pstyle0 {
		height:14px;
	}
	#g-mapedits-Artboard_1 .g-pstyle1 {
		font-weight:500;
		height:14px;
	}
	#g-mapedits-Artboard_2 {
		position:relative;
		overflow:hidden;
	}
	#g-mapedits-Artboard_2 p {
		font-family:arial,helvetica,sans-serif;
		line-height:14px;
		height:auto;
		opacity:1;
		letter-spacing:0em;
		font-size:12px;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-mapedits-Artboard_2 .g-pstyle0 {
		line-height:17px;
		height:17px;
		font-size:14px;
	}
	#g-mapedits-Artboard_2 .g-pstyle1 {
		font-weight:500;
		height:14px;
	}
	#g-mapedits-Artboard_2 .g-pstyle2 {
		height:14px;
	}

/* POLICE CHART */

#g-beeswarm-Artboard_1,
#g-beeswarm-Artboard_2 {
	display: none;
}

@media (max-width: 1050px) {
	#g-beeswarm-Artboard_2 {
		display: block;
	}
}

@media (min-width: 1050px) {
	#g-beeswarm-Artboard_1 {
		display: block;
	}
}

#g-beeswarm-box ,
#g-beeswarm-box .g-artboard {
	margin:0 auto;
}
#g-beeswarm-box p {
	margin:0;
}
#g-beeswarm-box .g-aiAbs {
	position:absolute;
}
#g-beeswarm-box .g-aiImg {
	position:absolute;
	top:0;
	display:block;
	width:100% !important;
}
#g-beeswarm-box .g-aiSymbol {
	position: absolute;
	box-sizing: border-box;
}
#g-beeswarm-box .g-aiPointText p { white-space: nowrap; }
#g-beeswarm-Artboard_1 {
	position:relative;
	overflow:hidden;
}
#g-beeswarm-Artboard_1 p {
	font-family:arial,helvetica,sans-serif;
	line-height:14px;
	opacity:1;
	letter-spacing:0em;
	font-size:12px;
	text-align:left;
	color:rgb(0,0,0);
	text-transform:none;
	padding-bottom:0;
	padding-top:0;
	mix-blend-mode:normal;
	font-style:normal;
	height:auto;
	position:static;
}
#g-beeswarm-Artboard_1 .g-pstyle0 {
	height:14px;
}
#g-beeswarm-Artboard_1 .g-cstyle0 {
	font-weight:bold;
}
#g-beeswarm-Artboard_2 {
	position:relative;
	overflow:hidden;
}
#g-beeswarm-Artboard_2 p {
	font-family:arial,helvetica,sans-serif;
	line-height:14px;
	opacity:1;
	letter-spacing:0em;
	font-size:12px;
	text-align:left;
	color:rgb(0,0,0);
	text-transform:none;
	padding-bottom:0;
	padding-top:0;
	mix-blend-mode:normal;
	font-style:normal;
	height:auto;
	position:static;
}
#g-beeswarm-Artboard_2 .g-pstyle0 {
	height:14px;
}
#g-beeswarm-Artboard_2 .g-cstyle0 {
	font-weight:bold;
}